
body{
    width: 90%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1.0));
}
#atmHeader{
    width: 80%;
    height: 40px;
    margin-left: 13%;
    margin-top: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
    border-color: goldenrod;
    border-style: solid;
    border-width: 2px;
    color: white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(158, 182, 103, 0.8), rgba(0, 0, 0, 0.4));
}
#atmFormID{
    width: 80%;
    height: 150px;
    margin-left: 13%;
    margin-top: 150px;
    border-color: goldenrod;
    border-style: solid;
    border-radius: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(191, 202, 165, 1.0), rgba(0, 0, 0, 0.1));
}
#nameID{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-color: goldenrod;
    margin-left: 5px;
    margin-top: 25px;
    background-color: white;
}
#nameDiv{
    display: flex;
}
#nameLabel{
    margin-top: 25px;
    padding-top: 7px;
    width: 100px;
    height: 22px;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: goldenrod;
    font-size: 13px;
    text-align: center;
}
#locationID{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-color: goldenrod;
    margin-left: 5px;
    margin-top: 25px;
    background-color: white;
}
#locationDiv{
    display: flex;
}
#locationLabel{
    margin-top: 25px;
    padding-top: 7px;
    width: 100px;
    height: 22px;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: goldenrod;
    font-size: 13px;
    text-align: center;
}
#bankID{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-color: goldenrod;
    margin-left: 5px;
    margin-top: 25px;
    background-color: white;
}
#bankDiv{
    display: flex;
}
#bankLabel{
    margin-top: 25px;
    padding-top: 7px;
    width: 100px;
    height: 22px;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: goldenrod;
    font-size: 13px;
    text-align: center;
}
#amountID{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border-color: goldenrod;
    margin-left: 5px;
    margin-top: 25px;
    background-color: white;
}
#amountDiv{
    display: flex;
}
#amountLabel{
    margin-top: 25px;
    padding-top: 7px;
    width: 100px;
    height: 22px;
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: goldenrod;
    font-size: 13px;
    text-align: center;
}
#insertBtn{
    background-image: linear-gradient(rgba(191, 202, 165, 1.0), rgba(0, 0, 0, 0.1));
    width: 40%;
    height: 30px;
    color: brown;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin-top: 25px;
    margin-left: 30%;
    border-radius: 5px;
    border-color: goldenrod;
    border-style: solid;
}
#withdrawBtn{
    background-image: linear-gradient(rgba(191, 202, 165, 1.0), rgba(0, 0, 0, 0.1));
    width: 40%;
    height: 30px;
    color: brown;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin-top: 25px;
    margin-left: 30%;
    border-radius: 5px;
    border-color: goldenrod;
    border-style: solid;
}
#wthDiv{
    width: 80%;
    height: 80px;
    margin-top: 100px;
    margin-left: 13%;
    border-color: goldenrod;
    border-style: solid;
}
#currencyID{
    color: white;
    margin-top: 50px;
    text-align: center;
}









